/* Global */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Signika", sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn:hover {
  background-position: 0 100%;
}

.btn-one {
  border-color: #ffffff;
  color: #ffffff;
  background-image: linear-gradient(45deg, #ffffff, 50%, transparent 50%);
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Inconsolata", monospace;
  color: #2c2c54;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  font-size: 48px;
  margin: 0 0 72px 0;
}

/* Navigation */
.navigation {
  background: #0097e6;
  padding: 12px 0;
}

.navigation ul {
  padding: 0 5%;
  margin: 0;
  list-style-type: none;
}

.navigation ul li {
  position: relative;
  display: inline-block;
  margin-right: 36px;
}

.navigation ul li:hover ul {
  display: block;
}

.navigation ul a {
  text-decoration: none;
  color: #ffffff;
}

.navigation ul a:hover {
  color: #33d9b2;
}

.navigation ul ul {
  display: none;
  position: absolute;
  background: #ffffff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0;
  padding-top: 12px;
}

.navigation ul ul li {
  display: block;
  margin-left: 36px;
  margin-bottom: 12px;
  padding: 0 24px;
}

.navigation ul ul li a {
  color: #0097e6;
}

.navigation ul ul li a:hover {
  color: #33d9b2;
}

/* Splash */
.splash {
  background: #0097e6;
  color: #ffffff;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.splash .splash-inner {
  margin: auto;
  max-width: 70%;
}

.splash .splash-inner .page-title {
  margin: 0;
  font-size: 72px;
  word-spacing: -24px;
  font-weight: 700;
  line-height: 1.2;
}

.splash .splash-inner .page-title span {
  font-family: "Signika", sans-serif;
}

.splash .splash-inner .page-subtitle {
  margin: 24px 0;
  font-weight: 400;
  font-size: 16px;
}

.splash .splash-inner .btn-one:hover {
  color: #0097e6;
}

/* Services */
.our-service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-service-wrapper .service-item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

.our-service-wrapper p:first-of-type {
  font-weight: bolder;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.our-service-wrapper .service-item-title {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.our-service-wrapper .service-item-number-1::before {
  content: "1";
  position: absolute;
  font: 144px "Signika", sans-serif;
  line-height: 1;
  top: -35px;
  left: -5px;
  color: rgba(127, 255, 212, 0.5);
  z-index: -1;
}

.our-service-wrapper .service-item-number-2::before {
  content: "2";
  position: absolute;
  font: 144px "Signika", sans-serif;
  line-height: 1;
  top: -35px;
  left: -5px;
  color: rgba(127, 255, 212, 0.5);
  z-index: -1;
}

.our-service-wrapper .service-item-number-3::before {
  content: "3";
  position: absolute;
  font: 144px "Signika", sans-serif;
  line-height: 1;
  top: -35px;
  left: -5px;
  color: rgba(127, 255, 212, 0.5);
  z-index: -1;
}

.our-service-wrapper .service-number {
  font-size: 144px;
  position: absolute;
  line-break: 1;
  margin: 0;
  color: rgba(127, 255, 212, 0.5);
  top: 0;
  z-index: -1;
}

.our-service-wrapper .btn-item-1 {
  border-color: #33d9b2;
  color: #33d9b2;
  background-image: linear-gradient(45deg, #33d9b2, 50%, transparent 50%);
  position: absolute;
  bottom: -60px;
}

.our-service-wrapper .btn-item-2 {
  border-color: #ff5252;
  color: #ff5252;
  background-image: linear-gradient(45deg, #ff5252, 50%, transparent 50%);
  position: absolute;
  bottom: -60px;
}

.our-service-wrapper .btn-item-3 {
  border-color: #0097e6;
  color: #0097e6;
  background-image: linear-gradient(45deg, #0097e6, 50%, transparent 50%);
  position: absolute;
  bottom: -60px;
}

.our-service-wrapper .btn:hover {
  color: #ffffff;
}

/* Works */
.our-work-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-work-wrapper .work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-height: 300px;
  padding-bottom: 96px;
}

.our-work-wrapper .work-item-image {
  position: relative;
  max-width: 250px;
  height: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.our-work-wrapper .work-item-description {
  margin: auto 50px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.our-work-wrapper .work-item-description p:last-of-type {
  font-weight: bolder;
}

.our-work-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-work-wrapper .work-item-image::before {
  content: '';
  position: absolute;
  background: black;
  top: 40px;
  left: 40px;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.our-work-wrapper .work-item-image:hover::before {
  top: 0;
  left: 0;
}

.our-work-wrapper .work-button {
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
  background: none;
  color: #0097e6;
}

/* Contact */
.contact {
  background: #0097e6;
}

.contact .section-title {
  color: #ffffff;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-wrapper form {
  position: relative;
  padding-right: 96px;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 0px;
          flex: 2 0 0;
  height: 100%;
}

.contact-wrapper form input {
  display: block;
  margin: 10px;
  padding: 10px;
  width: 100%;
  background: inherit;
  border: none;
  border-bottom: solid 5px #ffffff;
  color: #ffffff;
}

.contact-wrapper form textarea {
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 200px;
  background: inherit;
  border: none;
  border-bottom: solid 5px #ffffff;
  color: #ffffff;
}

.contact-wrapper form ::-webkit-input-placeholder {
  color: #ffffff;
}

.contact-wrapper form :-ms-input-placeholder {
  color: #ffffff;
}

.contact-wrapper form ::-ms-input-placeholder {
  color: #ffffff;
}

.contact-wrapper form ::placeholder {
  color: #ffffff;
}

.contact-wrapper .contact-information {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.contact-wrapper .contact-information h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
  margin-top: 25px;
}

.contact-wrapper .contact-information p {
  color: #ffffff;
  margin: 0;
}

.contact-wrapper .btn-one:hover {
  color: #0097e6;
}

/* Footer */
.page-footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.page-footer ul li {
  padding: 0 5px 0;
  line-height: 2.0;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer ul li i {
  font-size: 30px;
  background: #ff5252;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  line-height: 2.0;
  text-align: center;
}

/* Media */
@media (max-width: 767px) {
  .navigation ul li {
    display: block;
  }
  .navigation ul ul {
    left: 10%;
    z-index: 2;
    position: relative;
    width: 150px;
    padding: 5px;
  }
  .navigation ul ul li {
    margin: 0;
  }
  .our-service-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-service-wrapper .service-item {
    margin-bottom: 110px;
  }
  .our-work {
    padding-top: 0;
  }
  .our-work .our-work-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-wrapper form {
    padding-right: 0;
  }
  .contact-wrapper form input {
    width: calc(100% - 20px);
  }
  .contact-wrapper form textarea {
    width: calc(100% - 20px);
  }
  .contact-wrapper .contact-information {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */