/* Global */
$color-blue: #0097e6;
$color-green: #33d9b2;
$color-red: #ff5252;
$color-white: #ffffff;
$color-navy-blue: #2c2c54;

$font-text: 'Signika', sans-serif;
$font-header: 'Inconsolata', monospace;

$transition: all 1s;

*, *::before, *::after {
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}

.btn:hover {
    background-position: 0 100%;
}

.btn-one {
    border-color: $color-white;
    color: $color-white;
    background-image: linear-gradient(45deg, $color-white, 50%, transparent 50%);
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-header;
    color: $color-navy-blue;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-title {
    font-size: 48px;
    margin: 0 0 72px 0;
}

/* Navigation */

.navigation {
    background: $color-blue;
    padding: 12px 0;

    ul {
        padding: 0 5%;
        margin: 0;
        list-style-type: none;

        li {
            position: relative;
            display: inline-block;
            margin-right: 36px;
        }

        li:hover ul {
            display: block;
        }

        a {
            text-decoration: none;
            color: $color-white;
        }

        a:hover {
            color: $color-green;
        }

        ul {
            display: none;
            position: absolute;
            background: $color-white;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            padding-top: 12px;

            li {
                display: block;
                margin-left: 36px;
                margin-bottom: 12px;
                padding: 0 24px;

                a {
                    color: $color-blue;
                }

                a:hover {
                    color: $color-green;
                }
            }
        }
    }
}

/* Splash */

.splash {
    background: $color-blue;
    color: $color-white;
    min-height: 500px;
    display: flex;

    .splash-inner {
        margin: auto;
        max-width: 70%;

        .page-title {
            margin: 0;
            font-size: 72px;
            word-spacing: -24px;
            font-weight: 700;
            line-height: 1.2;

            span {
                font-family: $font-text;
            }
        }

        .page-subtitle {
            margin: 24px 0;
            font-weight: 400;
            font-size: 16px;
        }

        .btn-one:hover {
            color: $color-blue;
        }
    }
}

/* Services */

.our-service-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .service-item {
        position: relative;
        flex: 0 0 32%;
    }

    p:first-of-type {
        font-weight: bolder;
        flex: 1;
    }

    .service-item-title {
        font-size: 24px;
        margin: 0 0 12px 0;
    }

    .service-item-number-1::before {
        content: "1";
        position: absolute;
        font: 144px $font-text;
        line-height: 1;
        top: -35px;
        left: -5px;
        color: rgba(127, 255, 212, 0.5);
        z-index: -1;
    }

    .service-item-number-2::before {
        content: "2";
        position: absolute;
        font: 144px $font-text;
        line-height: 1;
        top: -35px;
        left: -5px;
        color: rgba(127, 255, 212, 0.5);
        z-index: -1;
    }

    .service-item-number-3::before {
        content: "3";
        position: absolute;
        font: 144px $font-text;
        line-height: 1;
        top: -35px;
        left: -5px;
        color: rgba(127, 255, 212, 0.5);
        z-index: -1;
    }

    .service-number {
        font-size: 144px;
        position: absolute;
        line-break: 1;
        margin: 0;
        color:rgba(127, 255, 212, 0.5);
        top: 0;
        z-index: -1;
    }

    .btn-item-1 {
        border-color: $color-green;
        color: $color-green;
        background-image: linear-gradient(45deg, $color-green, 50%, transparent 50%);
        position: absolute;
        bottom: -60px;
    }

    .btn-item-2 {
        border-color: $color-red;
        color: $color-red;
        background-image: linear-gradient(45deg, $color-red, 50%, transparent 50%);
        position: absolute;
        bottom: -60px;
    }

    .btn-item-3 {
        border-color: $color-blue;
        color: $color-blue;
        background-image: linear-gradient(45deg, $color-blue, 50%, transparent 50%);
        position: absolute;
        bottom: -60px;
    }

    .btn:hover {
        color: $color-white;
    }
}

/* Works */
.our-work-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .work-item {
        display: flex;
        flex: 0 0 50%;
        min-height: 300px;
        padding-bottom: 96px;
    }

    .work-item-image {
        position: relative;
        max-width: 250px;
        height: 100%;
        flex-basis: 50%;
    }

    .work-item-description {
        margin: auto 50px;
        flex-basis: 50%;

        p:last-of-type {
            font-weight: bolder;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .work-item-image::before {
        content: '';
        position: absolute;
        background: black;
        top: 40px;
        left: 40px;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        transition: $transition;
    }

    .work-item-image:hover::before {
        top: 0;
        left: 0;
    }

    .work-button {
        border: none;
        margin: 36px 0;
        padding: 0;
        text-align: left;
        background: none;
        color: $color-blue;
    }
}

/* Contact */

.contact {
    background: $color-blue;

    .section-title {
        color: $color-white;
    }
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    form {
        position: relative;
        padding-right: 96px;
        flex: 2 0 0;
        height: 100%;

        input {
            display: block;
            margin: 10px;
            padding: 10px;
            width: 100%;
            background: inherit;
            border: none;
            border-bottom: solid 5px $color-white;
            color: $color-white;
        }

        textarea {
            margin: 10px;
            padding: 10px;
            width: 100%;
            height: 200px;
            background: inherit;
            border: none;
            border-bottom: solid 5px $color-white;
            color: $color-white;
        }

        ::placeholder {
            color: $color-white;
        }
    }

    .contact-information {
        position: relative;
        flex: 1 0 0;

        h3 {
            font-size: 20px;
            color: $color-white;
            margin: 0;
            margin-top: 25px;
        }

        p {
            color: $color-white;
            margin: 0;
        }
    }

    .btn-one:hover {
        color: $color-blue;
    }
}

/* Footer */

.page-footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    li {
        padding: 0 5px 0;
        line-height: 2.0;
        font-size: 0;
        display: flex;
        justify-items: center;
        align-items: center;

        i {
            font-size: 30px;
            background: #ff5252;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            color: #fff;
            line-height: 2.0;
            text-align: center;
        }
    }
}


/* Media */

@media(max-width: 767px) {

    .navigation {
        ul li {
            display: block;
        }

        ul ul {
            left: 10%;
            z-index: 2; 
            position: relative;
            width: 150px;
            padding: 5px;
            
            li {
                margin: 0;
            }
        }
    }
    
    .our-service-wrapper {
        flex-direction: column;

        .service-item {
            margin-bottom: 110px;
        }
    }

    .our-work {
        padding-top: 0;

        .our-work-wrapper {
            flex-direction: column;
        }
    }

    .contact-wrapper {
        flex-direction: column;

        form {
            padding-right: 0;
            
            input {
                width: calc(100% - 20px);
            }
            
            textarea {
                width: calc(100% - 20px);
            }
        }

        .contact-information {
            text-align: center;
        }
    }
}